.App{
    .movie_list{
        list-style-type: none;
        &:after{content:""; display:block; clear:both;}
        li{
            float:left;
            width:200px;
            img{width:100%; height:280px;}
        }
    }
}